extends layout

block content
    - const oneDay = 24 * 60 * 60 * 1000;
    .page-header
        - const pStyles = {"text-align": "center", "text-transform": "uppercase" };
        h1(style=pStyles) Loan for User #{user.email}
        - if (loan.waitingForFunding){
            h3(style = pStyles) Your loan is in the process of being funded
            br
            .progress(style = 'height:50px')
                .progress-bar.progress-bar-striped(role='progressbar' style="width: "+ (loan.amountLoaned / loan.amountWanted * 100) + "%" aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')

            h4(style = pStyles) $#{loan.amountLoaned} out of $#{loan.amountWanted} has been raised

            table.table
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') First
                        th(scope='col') Last
                        th(scope='col') Handle
                tbody
                    tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope='row') 3
                        td Larry
                        td the Bird
                        td @twitter
        - } else {
            h3(style = pStyles) Your loan is sent
                br
                .progress(style = 'height:50px')
                    .progress-bar.progress-bar-striped(role='progressbar' style="width: " + (timePassed / totalTime * 100) + "%" aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')

                h4(style = pStyles) #{(timePassed/oneDay).toFixed(2)} days out of #{(totalTime/oneDay).toFixed(0)} days passed

                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') First
                            th(scope='col') Last
                            th(scope='col') Handle
                    tbody
                        tr
                            th(scope='row') 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            th(scope='row') 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            th(scope='row') 3
                            td Larry
                            td the Bird
                            td @twitter
        - }
