extends ../layout
block content
  h2
    | Your Postings
  table.table.table-condensed
    - if (array.length === 0){
    | You have no postings
    - } else {
    thead
      tr
        th Loan Title
        th Loan Description
        th Amount Wanted
        th Amount Loaned
        th Waiting For Funding
        th Waiting For Repayment
        th Overdue
        th Date
        th
    tbody
        each val in array.length ? array : ['You haven\'t requested any loans!']
          tr
            td(id="name_"+val.id)= val.loanTitle
            td= val.loanDescription
            td= val.amountWanted
            td= val.amountLoaned
            td= val.waitingForFunding
            td= val.waitingForRepayment
            td= val.overdue
            td= ((val.dueDate.getMonth() + 1) + "/" + val.dueDate.getDate() + "/" + val.dueDate.getFullYear() + " " + val.dueDate.getHours() + ":" + val.dueDate.getMinutes())

    - }
  #myModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Removal Confirmation
        .modal-body
          p(id = "each_posting")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Nevermind
          button.btn.btn-warning(id = 'del-btn') Delete it
